.cart-container{
    display: flex;
    margin-top: 200px;
    justify-content: center;
    align-items: center;
    
}

.cart{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 25px;
}

.checkout{
    background-color: rgb(223, 252, 252);
    padding: 50px 50px;
    margin: 100px 50px;
}
.checkout p{
    background-color: rgb(246, 251, 251) ;
    padding: 5px 5px;
    text-transform: uppercase;
    border-radius: 10px;
    width: 190px;
}
.checkout span{
    font-weight: 600;
}