.newsletter{
    width: 60%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0 110px;
    margin-bottom: 100px;
    background: linear-gradient(180deg, white , rgb(96, 93, 96) );
    gap: 30px;
    /* box-shadow: 10px 0 10px 5px rgb(130, 0, 206); */
}

.newsletter h1 {
    color: rgb(44, 44, 44);
    font-size: 50px;
    font-weight: 700;
}

.newsletter p{
    color: rgb(60, 60, 60);
    font-size: 20px;
}

.newsletter div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    width: 700px;
    height: 70px;
    border-radius: 80px;
    
}

.newsletter input{
    width: 400px;
    margin-left: 30px;
    border: none;
    outline: none;
    color: blanchedalmond;
    font-size: 16px;
}

.newsletter div button{
    width: 210px;
    height: 70px;
    border-radius: 80px;
    border: none;
    outline: none;
    background-color: rgb(68, 1, 123);
    color: white;
    font-size: 16px;
    cursor: pointer;
}