
a {
  text-decoration: none;
  color: black
}
hr {
  height: 5px;
  margin-top: 0;
  color: rgb(0, 0, 0);

}

/* ------- header/navbar css ------- */

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  width: 98%;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.495);
  
  padding: 0 20px 0 20px;
  z-index: 1;
}
.navbar {
  display: flex;
  gap: 30px;
}
.navbar-link {
  align-self: center;
  font-size: 2rem;
  font-weight: 800;
  
}
.navbar-link::after {
  color: violet;
}
#cart {
  height: 3rem;
}
#logo {
  height: 6rem;
}

/* ------- hero page clothing card css ------- */

.new-herocontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blueviolet;
  height: 100vh;
  border-bottom: 10px solid grey;
}

.clothing-card-hero {
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto 0 auto 0;
  padding-bottom: 5rem;
}

.clothing-card {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  border: 0;
  position: relative;
  text-align: center;
  color: black;
}

.card-img {
  height: 10rem;
}

.bottom-logo {
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(215, 248, 252);
}

.product-container {
  height: 100vh;
  background-color: rgb(218, 179, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10rem 5rem 10rem 5rem;
}
.product {
  display: flex;
  flex-direction: column;
  height: 50rem;
  width: 60rem;
  border: 1px solid black;
}
.product > img {
  max-height: 40rem;
  width: auto;
}

.addBtn {
  font-size: 2rem;
  border: none;
  padding: 10px 20px 10px 20px;
  color: blueviolet;
  background-color: #f4a5ff;
  margin: 10px;
}

.removeBtn {
  font-size: 2rem;
  border: none;
  padding: 10px 20px 10px 20px;
  background-color: blueviolet;
  color: #f4a5ff;
  margin: 10px;
}

.deleteBtn {
  border: none;
  padding: 10px 20px 10px 20px;
  margin: 10px;
}
.cart-amount{
  display: flex;
  position: absolute;
  top: 20px;
  right: 20px;
  height: 100px;
  width: 5px;
}
